.explore-menu{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-menu h1{
    color: #262626;
    font-weight: 500;
    
  
}
.explore-menu-text{
    max-width: 95%;
    color: #808080;
}
.explore-menu-list{
    display: flex;
    padding-top: 4% ;

    justify-content: space-between;
    align-items: center;
    gap: 30px;
    text-align: center;
    margin: 20px 0px;
    overflow-x: scroll;
}
.explore-menu-list::-webkit-scrollbar{
    display: none;
}
.explore-menu-list-item img{
    width: 8.5vw;
    min-width: 70px;
    cursor: pointer;
    border-radius: 50%;
    transition: 0.2s;
    transform: scale(0.9);
    &:hover{
        transform: scale(1);
    }
}
.explore-menu-list-item .active{
    height: 100%;
    border: 4px solid #28a745;
    box-shadow: 2px 1px 50px #28a745;
    padding: 2px;
}
.explore-menu-list-item p{
    margin-top: 10px;
    color: #747474;
    font-size: max(1.11vw);
    cursor: pointer;
}
.explore-menu hr{
    
    height: 2px;
    background-color: #dbd403;
    border: none;
}
.small .small2{
    margin-left: 95%;
    margin-bottom: -90%;
    font-size: 10px;
justify-content: right;
}
@media (max-width:1050px) {
    .explore-menu-text{
        max-width: 100%;
        font-size: 12px;
    }
    .small .small{
        margin-left: 90%;
        margin-top: 3%;
        font-size: 5px;
    justify-content: right;
    }
    .explore-menu-list-item p{
        font-size: max(2vw);
    }
}